<!DOCTYPE html>
<html>
<head>
    <title>Asset Details</title>
</head>
<body>

<h2>Asset Details</h2>

<a href="/">⬅️ Back</a> | 
<a href="/assets">📋 All Assets</a>

<br><br>

<p><b>CPU Name:</b> {{ data[1] }}</p>
<p><b>Serial Number:</b> {{ data[2] }}</p>

<p><b>Status:</b>
{% if data[3] == "Working" %}
    <span style="color:green;">🟢 Working</span>
{% elif data[3] == "Faulty" %}
    <span style="color:red;">🔴 Faulty</span>
{% else %}
    <span style="color:orange;">🟡 Maintenance</span>
{% endif %}
</p>

<p><b>Scan Count:</b> {{ scan }}</p>
<p><b>Last Updated:</b> {{ data[5] }}</p>

</body>
</html>
