<div class="mb-3">
    <label>CPU Name / Model</label>
    <input type="text" name="cpu_name" value="{{ asset.cpu_name }}" class="form-control">
</div>

<label>Status</label>
<select name="status" class="form-select">
    <option value="Working" {% if asset.status == 'Working' %}selected{% endif %}>Working</option>
    <option value="Maintenance" {% if asset.status == 'Maintenance' %}selected{% endif %}>Maintenance</option>
    <option value="Faulty" {% if asset.status == 'Faulty' %}selected{% endif %}>Faulty</option>
</select>
